# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter files
.ipynb_checkpoints/

# Environment variables
.env

# Model temporary files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db